<div class="breadcrumb">
    <% breadcrumb :medicalrecords_edit, @patient %> 
    <%= render_breadcrumbs %>
</div>
<div class ="edit_records"><h3>Edit record</h3></div>

<% form_for [@patient,@medicalrecord] , :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <div class="form-group">
      <label class="control-label col-sm-2">Doctor observation</label>
      <div class="col-sm-4">
          <%= f.text_field :doctor_observation, :class => "form-control"  %>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-sm-2">Doctor prescription</label>
      <div class="col-sm-4">
          <%= f.text_field :prescription, :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-sm-2">Upload report</label>
      <div class="col-sm-4">
          <%= f.file_field :photo%> <br><br>
          <%= f.submit "Update" , :class => "btn" %>
      </div>
  </div>
<% end %>

