<div class="breadcrumb"> 
    <% breadcrumb :medicalrecords_index, @patient %> 
    <%= render_breadcrumbs %>
</div>

<h4>Patient history</h4>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Record no</th>
        <th>doctor_observation</th>
        <th>prescription</th>
        <th>Edit/delete</th>
    </tr>
    <% for medicalrecord in @medicalrecords %>
      <tr>
          <td><%=h medicalrecord.id %></td>
          <td><%=h medicalrecord.doctor_observation %></td>
          <td><%=h medicalrecord.prescription %></td>
          <td> <%= link_to 'edit',  edit_patient_medicalrecord_path(@patient, medicalrecord)%>/<%= link_to 'delete', patient_medicalrecord_path(@patient, medicalrecord),
                :confirm => 'Are you sure?', :method => :delete%></td>
      </tr>
    <% end %>
</table>
<%= link_to 'New record', new_patient_medicalrecord_path(@patient), :class => "records" %>