<table class="table table-striped table-bordered table-condensed">
    <tr><td><%=t(:id)%></td><td><%= @user.id%></td></tr>
    <tr><td><%=t('users.first_name')%></td><td><%= @user.first_name%></td></tr>
    <tr><td><%=t(:last_name)%></td><td><%= @user.last_name%></td></tr>
    <tr><td><%=t(:username)%></td><td><%= @user.username%></td></tr>
    <tr><td><%=t(:user_type)%></td><td><%= @user.user_type%></td></tr>
</table>