<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>hospital_management_system</title>
    </head>
    <body>  
        <div class="container">
            <div class="media" style="background-color:red">
                <img src="/images/Hospital.jpg" width="336" height="160">
                <div class="media-body">
                    <h2 style="padding-top:30px; padding-left:20px">Hospital Management System</h2> <p style="float:right; padding:20px"><%= link_to "Sign Up" %></p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container" class="border">
            <h4><%=t(:Admin_details)%></h4>

            <div class="container">
                <table class="table table-striped table-bordered table-condensed">
                    <tr><td><%=t(:Id)%></td><td><%= @users.id%></td></tr>
                    <tr><td><%=t(:first_name)%></td><td><%= @users.first_name%></td></tr>
                    <tr><td><%=t(:last_name)%></td><td><%= @users.last_name%></td></tr>
                    <tr><td><%=t(:username)%></td><td><%= @users.username%></td></tr>
                    <tr><td><%=t(:user_type)%></td><td><%= @users.user_type%></td></tr>
                </table>
            </div>

            <br />
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

