<div class="breadcrumb"> 
    <% make_breadcrumb %> 
    <%= render_breadcrumbs %>
</div>
<% if @patient.medicalrecords.empty? %>
  <div class="record">You don't have any medical records now</div> 
<% else %>
<h4>Medical records</h4>
<table class="table table-striped table-bordered table-condensed">
    <tr><th>Record no.</th><th>Doctor observation</th> <th>Prescription</th><th>report</th></tr>
    <% @patient.medicalrecords.each_with_index do |c, i| %>
      <tr>
          <td><%= i+1  %></td>
          <td><%= c.doctor_observation %></td>
          <td> <%= c.prescription%></td>
          <td> <%=link_to c.photo_file_name, c.photo.url, :download => c.photo_file_name%></td>
      </tr>
    <% end %>
</table>
<%= link_to "Download all records", show_pdf_patient_path(@patient)%>
<% end %>