<div class="breadcrumb"> <% make_breadcrumb %> 
    <%= render_breadcrumbs %>
</div>
<% if flash[:notice].present? %>
  <p class="flash_msg"><%= flash[:notice] %></p>
<% end %>
<table class="table table-striped table-bordered table-condensed">
    <tr><td>Patient id</td><td><%= @patient.id%></td></tr>
    <tr><td>First name</td><td><%= @patient.user.first_name%></td></tr>
    <tr><td>Last name</td><td><%= @patient.user.last_name%></td></tr>
    <tr><td>Date of birth</td><td><%= @patient.date_of_birth%></td></tr>
    <tr><td>Gender</td><td><%= @patient.gender%></td></tr>
    <tr><td>Blood group</td><td><%= @patient.blood_group %></td></tr>
    <tr><td>Contact number</td><td><%= @patient.contact_number %></td></tr>
    <tr><td>email</td><td><%= @patient.email %></td></tr>
</table>
