<div class="breadcrumb"> <% make_breadcrumb %> 
    <%= render_breadcrumbs %>
</div>


<% if flash[:notice].present? %>
  <p class="flash_msg"><%= flash[:notice] %></p>
<% end %>
  
   
<%= image_tag @doctor.user.photo.url(:small), :class => "image" %>
  <br>
  <br>
<table class="table table-striped table-bordered table-condensed">
 
    <tr><td>Doctor id</td><td><%= @doctor.id%></td></tr>
    
    <tr><td>First name</td><td><%= @doctor.user.first_name%></td></tr>
    <tr><td>Last name</td><td><%= @doctor.user.last_name%></td></tr>
    <tr><td>Date of birth</td><td><%= @doctor.date_of_birth%></td></tr>
    <tr><td>Gender</td><td><%= @doctor.gender%></td></tr>
    <tr><td>Qualification</td><td><%= @doctor.qualification %></td></tr>
    <tr><td>Contact number</td><td><%= @doctor.contact_number %></td></tr>
    <tr><td>email</td><td><%= @doctor.email %></td></tr>
    <tr><td>nationality</td><td><%= @doctor.nationality %></td></tr>
    <tr><td>Department id</td><td><%= @doctor.department_id %></td></tr>
    
</table>

  