<div class="breadcrumb"> <% make_breadcrumb %> 
    <%= render_breadcrumbs %>
</div>
<p>List of all beds in this room</p>
<table class="table table-striped table-bordered table-condensed">
    <tr><th>S.no.</th> <th>Bed number</th><th>Description </th><th>Edit/delete</th></tr>
    <% @beds.each_with_index do |bed, i| %>
      <tr>
          <td><%= i+1 %></td>
          <td><%=  bed.bed_number%></td>
          <td><%= bed.description%></td>
          <td><%=  link_to 'Edit', edit_bed_path(bed)%>/<%=  link_to 'delete',{:action => "delete_bed", :id => bed.id}%></td>
      </tr>
    <% end %>   
</table>
