
<% if flash[:notice].present? %>
  <p class="flash_msg"><%= flash[:notice] %></p>
<% end %>
  
<% form_for :bed,  :url => {:action => "add_bed"}, :method => :post do |f| %>
 
<p>
    <%= f.label :room_id %><br />
    <%= f.text_field :room_id %>
  </p>
  <p>
    <%= f.label :bed_number %><br />
    <%= f.text_field :bed_number %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
      
    <%= f.submit "Add", :class => "add" %>
  </p>
<% end %>

<%= link_to 'Back', beds_path %>